/*  your css code here. If applicable */
#container {
  margin: 20px;
}

/* Pseudo-element BEFORE the container content */
#container::before {
  content: "Before Content - ";
  color: #f00;
  font-size: 20px;
}

/* Pseudo-element AFTER the container content */
#container::after {
  content: " - After Content";
  color: #f00;
  font-size: 20px;
}
